main {
  margin-top: 0;
}
body {
  font-family: 'Cantarell', 'Source Sans Pro', sans-serif;
  font-size: 14pt;
}
h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 200;
}
h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
header.gnome-header {
}
header.gnome-header > nav {
  background: #4a86cf;
}
header.gnome-header > nav > div {
}
a.gnome-navbar-brand {
  display: inline-block;
  padding: 6px;
}
header.gnome-header a:hover {
  border-bottom: none;
}
a.gnome-navbar-brand img {
  max-height: 35px;
  min-height: 35px;
  min-width: 35px;
}
div.trails {
  margin-top: 20px;
  background: none;
}
div.gnome-banner {
  height: 320px;
  background: url(lotsoficons.svg) #3d3846 repeat-x;
  background-position: 0 0;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: iconscroll;
  text-align: center;
}
@keyframes iconscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1200px 0;
  }
}
@media only screen and (max-width: 960px) {
  aside.sidebar-left {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  aside.sidebar-right {
    display: none;
  }
}
body.gnome-front-page .pagewide {
  max-width: 1180px;
}
body.gnome-front-page nav .pagewide {
  max-width: 940px;
}
body.gnome-front-page article {
  background: #f6f5f4;
}
body.gnome-front-page div.trails {
  display: none;
}
body.gnome-front-page main {
  margin-top: 0;
}
body.gnome-front-page h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}


section.gnome-apps {
  margin-top: 96px;
}
section.gnome-apps h2 {
  font-size: 2.4em;
  text-align: center;
  max-width: 380px;
  border-top: solid 1px #deddda;
  margin: 40px auto 20px auto;
  padding-top: 20px;
}
section.gnome-apps div.links-tile {
  flex: 1 0 280px;
}
body.gnome-front-page div.links-tile > a {
  border: solid 1px #deddda;
  background: #ffffff;
  padding: 20px;
  transition: box-shadow 0.5s linear;
}
body.gnome-front-page div.links-tile > a:hover {
  box-shadow: 0 2px 4px #c0bfbc;
}
section.gnome-apps div.links-tile > a > span.links-tile-img {
  display: block;
  text-align: left;
  text-align: center;
  margin-bottom: 6px;
}
body.gnome-front-page span.links-tile-banner {
  display: block;
  height: 96px;
  height: 112px;
  overflow: hidden;
  margin: -20px -20px 0 -20px;
  background-color: #1a5fb4;
  margin-bottom: 12px;
}
body.gnome-front-page .gnome-sysadmin span.links-tile-banner {
  background-color: #57e389;
}
body.gnome-front-page span.links-tile-banner img {
  margin-left: 64px;
  margin-top: -8px;
  width: 128px;
  height: 128px;
  transform: rotate(-10deg);
}
body.gnome-front-page span.links-tile-text {
  display: block;
  color: #3d3846;
}
.gnome-help span.links-tile-text, .gnome-sysadmin span.links-tile-text {
  font-size: 1.2em;
}
body.gnome-front-page span.links-tile-desc {
  display: block;
  color: #9a9996;

  margin-top: 6px;
}

